<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StoreSim.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <StoreSim.Settings1>
            <setting name="InitialServicePoints" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MaximumServicePoints" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MinimumServicePoints" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="QueueMaxSize" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="TimeScale" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="TimeToBrowsePerItem" serializeAs="String">
                <value>120000</value>
            </setting>
            <setting name="TimeToPurchase" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="TimeToScan" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="TimeToExitStore" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ReactionTimeCustomer" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ReactionTimeSP" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="RandomCustomerGenRate" serializeAs="String">
                <value>0.001</value>
            </setting>
            <setting name="RandomItemGeneration" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RandomItemMin" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="RandomItemMax" serializeAs="String">
                <value>3</value>
            </setting>
        </StoreSim.Settings1>
    </applicationSettings>
</configuration>